@import "../variables.scss";

.research_container {
  margin-top: $navOffset;
  margin-left: calc($columnWidth * 1 + $columnGutter * 2);

  .title {
    margin-bottom: $m48;
  }

  @media only screen and (max-width: 960px) {
    margin-left: $columnGutterMobile;
  }

  .papers {
    display: flex;
    flex-direction: column;
    row-gap: $m48;
  }
}
