@import "../variables.scss";

.button_primary {
  font-family: "mb";
  font-size: $h3;
  padding: $m16 $m32;
  border: solid 2px $white;
  transition: all 0.2s ease-in-out;
}

.button_primary:hover {
  background-color: $white;
  color: $black;
}

@media only screen and (max-width: 960px) {
  .button_primary {
    width: calc(($columnWidthMobile * 4) + ($columnGutterMobile * 3));
    padding: $m16 0;
    background-color: $white;
    color: $black;
  }
}
