@import "../variables.scss";

.icon_block_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc($columnWidth * 4 + $columnGutter * 3);
  height: 250px;
  border: solid $white 2px;
  text-align: center;
  transition: all 0.2s ease;

  a {
    font-family: "mb";
    font-size: $h3;
    width: calc($columnWidth * 3 + $columnGutter * 2);
  }
}

.icon_block_wrapper:hover {
  background-color: $white;
  color: $black;
  cursor: pointer;
}

@media only screen and (max-width: 960px) {
  .icon_block_wrapper {
    width: calc($columnWidthMobile * 4 + $columnGutterMobile * 3);
    margin-bottom: $m32;

    a {
      width: calc($columnWidthMobile * 3 + $columnGutterMobile * 2);
      font-size: $h3Mobile;
    }
  }
}
