@import "../variables.scss";

.nav_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1;
  display: flex;
  justify-content: center;
  transition: all 0.2s ease;

  .nav_container {
    display: flex;
    flex-direction: row;
    width: calc($columnWidth * 12 + $columnGutter * 11);
    justify-content: space-between;
    align-items: center;
    padding: $m24 $m24;

    .nav_logo {
      font-family: "mb";
      font-size: 24px;
    }

    .nav_links_container {
      display: flex;
      flex-direction: row;

      a {
        font-family: "mr";
        font-size: 20px;
        margin-left: $m48;
        opacity: 0.6;
        transition: all 0.2s ease;
      }

      a:hover {
        opacity: 1;
      }
    }
  }
}

.nav_wrapper_mobile {
  position: fixed;
  right: 0;
  top: 0;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  z-index: 2;

  .burger {
    cursor: pointer;
  }
}

.nav_mobile_menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background-color: $black;
  padding: 24px;

  a {
    font-family: "mr";
    font-size: 48px;
  }
}

.transparent {
  background-image: transparent;
}

.opaque {
  background-color: $black;
}
