@function view-width($pixel) {
  @return (($pixel / 1440) * 100vw);
}

@function view-width-mobile($pixel) {
  @return (($pixel / 375) * 100vw);
}

$black: #000000;
$white: #ffffff;

$h1: 48px;
$h2: 32px;
$h3: 24px;
$p: 18px;

$h1Mobile: 22.4vw;
$h2Mobile: 8.533vw;
$h3Mobile: 6.4vw;
$pMobile: 4.267vw;

$m6: 6px;
$m12: 12px;
$m16: 16px;
$m24: 24px;
$m32: 32px;
$m48: 48px;
$m64: 64px;
$m96: 96px;
$m128: 128px;
$m144: 144px;
$m192: 192px;
$m240: 240px;

$columnWidth: view-width(69);
$columnGutter: view-width(32);
$navOffset: 80px;

$columnWidthMobile: view-width-mobile(74);
$columnGutterMobile: view-width-mobile(16);
