$black: #000000;
$white: #ffffff;

$h1: 48px;
$h2: 32px;
$h3: 24px;
$p: 18px;

$h1Mobile: 22.4vw;
$h2Mobile: 8.533vw;
$h3Mobile: 6.4vw;
$pMobile: 4.267vw;

$m6: 6px;
$m12: 12px;
$m16: 16px;
$m24: 24px;
$m32: 32px;
$m48: 48px;
$m64: 64px;
$m96: 96px;
$m128: 128px;
$m144: 144px;
$m192: 192px;
$m240: 240px;

$columnWidth: 69px;
$columnGutter: 32px;
$navOffset: 80px;

$w1Mobile: 19.733vw;
$w2Mobile: 43.733vw;
$w3Mobile: 67.467vw;
$w4Mobile: 91.467vw;
